
.nav{
    display: flex;
    .home,.profile{
        a{
            font : 500 17px/17px 'Noto Sans KR', sans-serif;
            color:#000;
        }
    }
}
.content{
    display: flex;
    .private{
    }
    .render{
    }
}
