.title__container{
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  &:nth-of-type(1){
    // border-top: 1px solid #ccc;
  }
  .link__item{
    display: inline-block;
    width: 70%;
  }
  >span{
    display: inline-block;
    width: 30%;
  }
}